<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    
    <!--  多个构造函数可以使用type index来区分 -->
    
	<bean id="battery" class="org.handx.constructor.Battery">
		<property name="name" value="AAAA" />
		<property name="price" value="100" />
		<property name="rechargeable" value="true" />
	</bean>
	
	<bean id="disc" class="org.handx.constructor.Disc">
		<property name="name" value="CD-RW" />
		<property name="price" value="1.5" />
		<property name="capacity" value="700" />
	</bean>

</beans>